<h1 class="menu">Choose yourself !</h1>
<div class="home-menu">
    <div class="block-menu hvr-icon-float hvr-underline-from-center"><a href="/writeups"><i class="hvr-icon fas fa-check-circle"></i><br>WRITEUPS</a></div>
    <div class="block-menu hvr-icon-float hvr-underline-from-center"><a href="/articles"><i class="hvr-icon fas fa-graduation-cap"></i><br>ARTICLES</a></div>
    <div class="block-menu hvr-icon-float hvr-underline-from-center"><a href="#"><i class="hvr-icon fas fa-desktop"></i><br>OTHERS</a></div>
</div>
<h1 class="menu">What's new ?</h1>
