{{ partial "doctype.html" . }}
<head>
  <title>
    {{ .Title }}{{ if ne .Title .Site.Title }} // {{ .Site.Title }}{{ end }}
  </title>

  {{ partial "meta.html" . }}

  {{ partial "og.html" . }}

  <!-- CSS -->
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/pure/0.5.0/base-min.css">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/pure/0.5.0/pure-min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.4.0/jquery.fancybox.min.css" />
  <!--[if lte IE 8]>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/pure/0.5.0/grids-responsive-old-ie-min.css">
  <![endif]-->
  <!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/pure/0.5.0/grids-responsive-min.css">
  <!--<![endif]-->
  <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.js"></script>
  <![endif]-->

  <link rel="stylesheet" href="{{ .Site.BaseURL }}/css/redlounge.css">
  <link href="//use.fontawesome.com/releases/v5.6.3/css/all.css" rel="stylesheet">
  <link href='//fonts.googleapis.com/css?family=Raleway:400,200,100,700,300,500,600,800' rel='stylesheet' type='text/css'>
  <link href='//fonts.googleapis.com/css?family=Libre+Baskerville:400,700,400italic' rel='stylesheet' type='text/css'>
  <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500&display=swap" rel="stylesheet">

  <!-- Icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/touch-icon-144-precomposed.png">
  <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.png">

  <!-- RSS -->
  <link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />

  {{ partial "syntaxhighlight.html" . }}

  <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
  <link rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}/css/lightbox.css">
  <script src="{{ .Site.BaseURL }}/js/lightbox.min.js"></script>
  <script src="{{ .Site.BaseURL }}/js/termynal.js"></script>
  <script src="{{ .Site.BaseURL }}/js/emojify.min.js"></script>
  
  <link rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}/css/termynal.css">
  <link rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}/css/hover.css">
  <link rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}/css/emojify.min.css">

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-133286401-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-133286401-1');
</script>

  {{ if .Site.Params.categoriescss }}
    <link rel="stylesheet" type="text/css" href="{{ .Site.Params.categoriescss }}">
  {{ end }}

  {{ template "_internal/google_analytics.html" . }}

  {{ partial "headend.html" . }}
</head>
