{{ partial "header.html" . }}
<body>
    <div id="layout" class="pure-g">
        {{ partial "sidebar.html" . }}

        <div class="content pure-u-1 pure-u-md-3-4">
            <a name="top"></a>
            {{ partial "listtop.html" . }}
            
            {{ partial "menu.html" . }}

            <div class="posts">
                
                <section  class="post">
                    <h1 class="list-menu">Articles</h1>

                    {{ $Site := .Site }}
                    {{ range .Site.RegularPages }}
                    {{ $title := .Title}}
                    {{ $relPermalink := .RelPermalink }}
                        {{ if in .Params.categories "Articles" }}

                            <div class="post-categories list-menu">
                                <ul class="list-menu">
                                    <li>
                                        <a class="list-menu" href="{{ $relPermalink }}">{{ $title }}</a>
                                    </li>
                                </ul>
                            </div>

                        {{ end }}
                    {{ end }}
                </section>



                <section  class="post">
                    <h1 class="list-menu">Writeups</h1>

                    {{ $Site := .Site }}
                    {{ range .Site.RegularPages }}
                    {{ $title := .Title}}
                    {{ $relPermalink := .RelPermalink }}
                        {{ if in .Params.categories "Writeups" }}

                            <div class="post-categories list-menu">
                                <ul class="list-menu">
                                    <li>
                                        <a class="list-menu" href="{{ $relPermalink }}">{{ $title }}</a>
                                    </li>
                                </ul>
                            </div>

                        {{ end }}
                    {{ end }}
                </section>

                <!-- <section  class="post">
                        <h1 class="post-title">Others</h1>

                        {{ $Site := .Site }}
                        {{ range .Site.RegularPages }}
                        {{ $title := .Title}}
                        {{ $relPermalink := .RelPermalink }}
                            {{ if in .Params.categories "Others" }}
    
                                <div class="post-categories list-menu">
                                    <ul class="list-menu">
                                        <li>
                                            <a class="list-menu" href="{{ $relPermalink }}">{{ $title }}</a>
                                        </li>
                                    </ul>
                                </div>
    
                            {{ end }}
                        {{ end }}
                        
                </section> -->
            </div>

            
        </div>

        {{ partial "footer.html" . }}
        </div>
    </div>
    {{ partial "bodyend.html" . }}
</body>
</html>
